//App color
$GreenColor:#00502F;
$LightGreenColor: #00A05F; 
$BlackColor:#000000;
$LightGrayColor:#D9D9D9;
$WhiteColor: white;
$RedColor:#FF0000;
$PanelColor:#EFF3F4;
$ColorStroke:#F0F1F2;
$GrayColor:#7E8993;
$GrayColorTwo:#DEDEDE;
//App main font
$MainFont: 'Poppins', sans-serif;