@import "../../../styles/DisplayFlexSASS/displayFlex";
@import "../../../styles/GeneralStylesSASS/generalStyles";
@import "../../../styles/settingSASS/setting";

.panelFirstQuestion{
    width: 100%;
    @include DisplayFlex(center, center, column, 1em);

    &__visualQueryBuilder{
        width: 100%;
        padding: 1em 2em 1em 2em;
        box-sizing: border-box;
        background-color: $WhiteColor;
        border-radius: 10px;
        border: 1px solid $ColorStroke;
        box-shadow: 0px 0px 4px 0px rgba(211, 211, 211, 0.25);
        @include DisplayFlex(flex-start, center, column, 1em);

        h1{
            @include StyleText(1em, 500, $BlackColor);
        }

        &__inputsButtons{
            width: 100%;
            @include DisplayFlex(center, flex-start, none, 1em);

            h2{
                @include StyleText(0.875em, 400, $BlackColor);
            }

            button{
                @include StyleButton(
                    8em,
                    2.5em,
                    10px,
                    $GreenColor,
                    0.938em,
                    500,
                    $WhiteColor,
                    0
                );
                box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
            }
        }

        &__graphics{
            width: 100%;
            position: relative;
            @include DisplayFlex(center, center, none, 0);

            h4{
                position: absolute;
                top: 0;
                right: 1em;
                @include StyleText(1.5em, 600, $BlackColor);
            }
        }

        &__explanationData{
            width: 100%;
            @include DisplayFlex(center, flex-start, none, 0);

            p{
                @include StyleText(0.875em, 400, $BlackColor);
            }
        }
    }

    &__tableQueries{
        width: 100%;
        height: 20em;
        padding: 1em 2em 1em 2em;
        box-sizing: border-box;
        background-color: $WhiteColor;
        border-radius: 10px;
        border: 1px solid $ColorStroke;
        box-shadow: 0px 0px 4px 0px rgba(211, 211, 211, 0.25);
        @include DisplayFlex(flex-start, flex-start, column, 1.5em);

        h1{
            @include StyleText(1.25em, 600, $BlackColor);
        }

        &__header{
            width: 100%;
            padding: 0.5em;
            box-sizing: border-box;
            border-bottom: 1px solid $GrayColorTwo;
            @include DisplayFlex(center, space-between, none, 0);
            
            h2{
                @include StyleText(0.813em, 600, $GrayColor);
            }
        }

        &__cards{
            width: 100%;
            height: 12em;
            overflow-y: auto;
            @include DisplayFlex(center, flex-start, column, 1em);

            &::-webkit-scrollbar {
                width: 0.5em; 
            }
            
            &::-webkit-scrollbar-thumb {
                background-color: $GreenColor; 
                border-radius: 6px; 
            }
            
            &::-webkit-scrollbar-track {
                background-color: #f0f0f0;
                border-radius: 6px; 
            }
        }
    }
}