@import "../../styles/DisplayFlexSASS/displayFlex";
@import "../../styles/GeneralStylesSASS/generalStyles";
@import "../../styles/settingSASS/setting";

.panelPopulationEvaluation{
    position: relative;
    width: 100%;
    height: 54em;
    overflow-y: scroll;
    padding: 2em 3em 2em 3em;
    box-sizing: border-box;
    @include DisplayFlex(flex-start, flex-start, column, 1.5em);

    &::-webkit-scrollbar {
        width: 0.5em; 
    }
    
    &::-webkit-scrollbar-thumb {
        background-color: $GreenColor; 
        border-radius: 6px; 
    }
    
    &::-webkit-scrollbar-track {
        background-color: #f0f0f0;
        border-radius: 6px; 
    }

    &__information{
        width: 100%;
        @include DisplayFlex(flex-start, center, column, 0);

        h1{
            @include StyleText(1.563em, 500, $BlackColor);

            span{
                color: $GreenColor;
                font-weight: 700;
            }
        }

        p{
            @include StyleText(0.875em, 400, $BlackColor);
        }
    }

    &__questionsQueries{
        background-color: $WhiteColor;
        border: 1px solid $ColorStroke;
        box-shadow: 0px 0px 4px 0px rgba(211, 211, 211, 0.25);
        border-radius: 10px;
        @include DisplayFlex(center, flex-start, none, 0);

        ul{
            list-style-type: none;
            padding-left: 0;
            @include DisplayFlex(center, center, none, 0);
            @include StyleText(0.875em, 500, $BlackColor);

            li{
                cursor: pointer;
                border-radius: 10px;
                padding: 1em;
                margin: 0.5em;
            }

        }
    }

    &__panelsQuestions{
        width: 100%;
        @include DisplayFlex(center, center, none, 0);
    }

    &__modals{
        width: 100%;
        height: calc(100% + 38vh);
        background: rgba(0, 0, 0, 0.33);
        backdrop-filter: blur(2px);
        padding: 2em;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        @include DisplayFlex(flex-start, center, none, 0);
    }
}