@import "../../../styles/DisplayFlexSASS/displayFlex";
@import "../../../styles/GeneralStylesSASS/generalStyles";
@import "../../../styles/settingSASS/setting";

.saveQueryModal{
    width: 50%;
    height: 50%;
    background-color: $WhiteColor;
    border-radius: 10px;
    padding: 1.5em;
    box-sizing: border-box;
    @include DisplayFlex(center, flex-start, column, 1.5em);

    &__titleImage{
       width: 100%;
       @include DisplayFlex(center, flex-start, none, 1em);
       
       &__image{
            width: 2.625em;
            height: 2.625em;
            border-radius: 5px;
            border: 1px solid $GreenColor;
            @include DisplayFlex(center, center, none, 0);

            img{
                width: 50%;
                object-fit: cover;
            }
       }

       &__title{
            @include DisplayFlex(flex-start, center, column, 0);

            h1{
                @include StyleText(1.25em, 600, $BlackColor);
            }

            p{
                @include StyleText(0.813em, 400, $BlackColor);
            }
       }
    }

    &__divider{
        width: 100%;
        height: 1px;
        margin-bottom: 1em;
        background-color: $LightGrayColor;
    }

    &__inputs{
        width: 100%;
        @include DisplayFlex(center, center, column, 1em);

        &__queryName{
            width: 100%;
            @include DisplayFlex(flex-start, center, column, 0.5em);

            h1{
                @include StyleText(0.813em, 500, $BlackColor);
            }

            &__container{
                width: 100%;
                height: 2.688em;
                border-radius: 5px;
                border: 2px solid $LightGrayColor;
                @include DisplayFlex(center, center, none, 0);

                input{
                    @include StyleInput(
                        95%,
                        50%,
                        0.813em,
                        400,
                        $BlackColor
                    );
                }
            }
        }

        &__description{
            width: 100%;
            @include DisplayFlex(flex-start, center, column, 0.5em);

            h1{
                @include StyleText(0.813em, 500, $BlackColor);
            }

            &__container{
                width: 100%;
                height: 10em;
                border-radius: 5px;
                border: 2px solid $LightGrayColor;
                @include DisplayFlex(center, center, none, 0);

                textarea{
                    width: 95%;
                    height: 90%;
                    @include StyleText(0.813em, 400, $BlackColor);
                    outline: none;
                    border: none;
                    resize: none;
                }
            }
        }

    }

    &__buttons{
        width: 100%;
        @include DisplayFlex(center, flex-end, none, 1em);

        button{
            @include StyleButton(
                6.188em,
                2.813em,
                10px,
                $GreenColor,
                0.938em,
                500,
                $WhiteColor,
                0
            );
        }
    }
}