@import "../../styles/DisplayFlexSASS/displayFlex";
@import "../../styles/GeneralStylesSASS/generalStyles";
@import "../../styles/settingSASS/setting";

.burgerMenu{
    width: 100%;
    height: 100%;
    @include DisplayFlex(center, center, column, 0);

    &__logo{
        width: 100%;
        height: 10%;
        @include DisplayFlex(center, center, none, 1.5em);

        img{
            width: 15%;
        }

        h1{
            @include StyleText(1.25em, 600, $BlackColor);
            span{
                color: $GreenColor;
            }
        }
    }

    &__options{
        width: 100%;
        height: 80%;
        padding: 2em 2em 2em 2em;
        box-sizing: border-box;
        @include DisplayFlex(flex-start, flex-start, column, 0.5em);

        h2{
            @include StyleText(1.125em, 600, $BlackColor);
        }

        ul{
            width: 100%;
            list-style-type: none;
            padding-left: 0;
            @include StyleText(0.938em, 400, $BlackColor);

            li{
                cursor: pointer;
                padding: 1em;
                margin: 0.5em 0em 0.5em 0em;
                box-sizing: border-box;
                border-radius: 5px;
                transition: 0.3s ease-in-out;
                @include DisplayFlex(center, flex-start, none, 1em);
                
                img{
                    width: 10%;
                }

                &:hover{
                    background-color: $LightGreenColor;
                }
            }
        }

        &__divider{
            width: 100%;
            height: 1px;
            margin-bottom: 1em;
            background-color: $LightGrayColor;
        }

    }

    &__buttonLogOut{
        width: 100%;
        height: 10%;
        padding: 1em;
        box-sizing: border-box;
        @include DisplayFlex(center, center, none, 0);
        border-top: 1px solid $LightGrayColor;

        button{
            @include StyleButton(
                61%,
                3em,
                10px,
                $GreenColor,
                0.938em,
                500,
                $WhiteColor,
                1em
            );

            img{
                width: 15%;
            }
        }
    }
}